/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++
演習で力のつくHTML/CCCコーディングの教科書、SBクリエイティブ、2015
第3章STEP13 ボックス設定の基本
>リスト3-5：moon_style.css
++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
/* 共通設定 */
body {
	margin: 0;
	background-color: #222222;
	font-size: 0.9em;
}
/* コンテナ */
div#container {
	width: 680px;
	margin: auto;
	padding: 20px;
	background-color: #ffffcc;
}
/* ヘッダ */
header h1 {
	font-size: 1.8em;
	font-family: serif;
}
/* コンテンツ */
section h2 {
	font-size: 1.1em;
	font-family: sans-serif;
	color: darkblue;
}
section img {
	display: block;
	margin: auto;
}
li {
	margin: 5px 0px;
}
